<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Welcome</title>
</head>

<body>
    <!-- Nav bar -->
    <header>
        <nav>
            <div class="nav-wrapper teal lighten-1">
                <%if (isLoggedIn){ %>
                    <a href="/" class="brand-logo"><%=user.name%>'s To-Do Manager</a>
                <%} else {%>
                    <a href="/" class="brand-logo">To-Do Manager</a>
                <%}%>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <!-- Main nav, hidden for small screens -->
                <ul id="desktop-nav" class="right hide-on-med-and-down">
                    <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="/list"><i class="material-icons left">list</i>To-Do List</a></li>
                    <li><a href="/archive"><i class="material-icons left">archive</i>Archive</a></li>
                    <% if(isLoggedIn) { %>
                        <li><a href="/logout" class="btn red">Logout</a></li>
                    <%} else {%>
                        <li><a href="/login" class="btn blue">Login</a></li>
                    <%}%>
                </ul>
            </div>
        </nav>
        <!-- Mobile nav menu, shown when menu button clicked -->
        <ul id="mobile-nav" class="sidenav">
            <li><a href="/"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="/list"><i class="material-icons left">list</i>To-Do List</a></li>
            <li><a href="/archive"><i class="material-icons left">archive</i>Archive</a></li>
            <% if(isLoggedIn) { %>
                <li><a href="/logout" class="btn red">Logout</a></li>
            <%} else {%>
                <li><a href="/login" class="btn blue">Login</a></li>
            <%}%>
        </ul>
    </header>

    <br>
    
    <div class="container">
        <center>
            <img src="/images/note.jpeg">
            <% if(isLoggedIn) { %>
                <h1>
                    Welcome <%=user.name%>!
                </h1>
            <%} else {%>
                <h1>
                    Welcome!
                </h1>
            <%}%>
            <h3>
                Use this app to access your to-do list.
                Navigate this website using the navbar at the top of the page.
            </h3>
        </center>
        
    </div>
</body>

</html>